In [7]:
import numpy as np
import pandas as pd
d={'id':[1,2,3,4,5,6,7,8,9],'student_grade':['Strong','Week','Strong','Week','Strong','Week','Strong','Week','Strong']}

In [8]:
df=pd.DataFrame(d)

In [9]:
df

   id student_grade
0   1        Strong
1   2          Week
2   3        Strong
3   4          Week
4   5        Strong
5   6          Week
6   7        Strong
7   8          Week
8   9        Strong

In [10]:
def gradecal(x):
    if(x=='Strong'):
        return 1
    else:
        return 0

In [23]:
df['grade_ind']=df['student_grade'].apply(gradecal)  # Method One by calling custom function
df

   id student_grade  grade_ind
0   1        Strong          1
1   2          Week          0
2   3        Strong          1
3   4          Week          0
4   5        Strong          1
5   6          Week          0
6   7        Strong          1
7   8          Week          0
8   9        Strong          1

In [25]:
df['student_grade'].apply(lambda x:x=='Strong')    # This is using lambda function

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
Name: student_grade, dtype: bool